# General settings
PUID=1000
PGID=1000
TZ=Asia/Bangkok

# Domain settings
DOMAIN=ledokun.taild1d0.ts.net

# Tailscale settings
TAILSCALE_AUTHKEY=your-tailscale-authkey-here
TAILSCALE_ROUTES=10.0.0.0/24

# Directory paths
CONFIG_ROOT=/srv/torrent/config
MEDIA_ROOT=/srv/torrent/share
DOWNLOAD_ROOT=/srv/torrent
BOINC_ROOT=/srv/boinc
TRAEFIK_USERSFILE=/srv/traefik/config/usersfile
BLOCKY_CONFIG=/srv/blocky

# qBittorrent settings
QBITTORRENT_WEBUI_PORT=8080
QBITTORRENT_PORT=56535

# Jellyfin settings
JELLYFIN_IP=192.168.50.20
JELLYFIN_DOCKER_MODS=linuxserver/mods:jellyfin-opencl-intel
JELLYFIN_RENDER_GROUP=105

# General container restart policy
RESTART=unless-stopped